---
import Layout from '../layouts/Layout.astro';
import {Catalogo as CatalogoComponent} from '../components/catalogo/Catalogo';
import "../styles/global.css";
---
<Layout title="Catálogo de Vehículos - E-GoCars" description="Explora nuestro inventario completo de vehículos seleccionados.">
  <main>
      <CatalogoComponent client:load />
  </main>
</Layout>